h1,h2,h3,h4,h5,h6,body{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: normal;
}

body {
	margin-top: 50px;
	margin-bottom: 100px;
	margin-right: 15%;
	margin-left: 15%;
}
h1{
	font-size: 10em;
	text-transform: uppercase;
}
h2{
	font-size: 3em;
	text-transform: uppercase;
}
h3{
	font-size: 2em;
	text-transform: uppercase;
}
h4{
	font-size: 1em;
	text-transform: uppercase;
}
.center{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.thick{
	font-weight: bold;
}
ul{
    list-style-type: none;
}

.coursedescription{
	font-size: 20px;
	margin-right: 15%;
	margin-left: 15%;
}

.courseindex{
	font-size: 25px;
	margin-right: 25%;
	margin-left: 25%;
}

.circular {
	width: 400px;
	height: 400px;
	border-radius: 200px;
	background: url(http://i.imgur.com/9cwgtIx.jpg) no-repeat;
	background-size: 400px 400px;
	}

.resumeblock {
	margin-left: 150px;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.resumedetails{
	font-size: 15px;
	padding-left: 0;
	list-style-type: none;
	overflow: hidden;
	font-color: gray;

}

.blue {
	color: #006666;
}

